body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #FAF7F0;
}

.project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-list-portfolio {
    /*ul*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1666px;
    gap: 40px 52px;
    padding-left: 0;
    list-style-type: none;
}

.project-list-portfolio li {
    flex: 1;
    max-width: 350px;
    min-width: 350px;
}

.project-list-portfolio li:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.005);
    transition: transform 0.1s ease;
}

.project-list-portfolio>li>a {
    text-decoration: none;
    color: black;
}

.container-padding-portfolio {
    padding: 10px 114px;
}

.title-port {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    text-decoration: underline;
    font-size: 26px;
}


















/* .search-bar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 100px;
}

.filter {
    width: 200px;
    height: 80%;
    margin-left: 10px;
}

.filter-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #4A4947;
    font-weight: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.filter-button:hover {
    border: 2px solid #4a4947af;
    color: #4a4947af;
}

.skillList {
    display: block;
    width: fit-content;
    background-color: transparent;
    padding: 15px;
    border: 2px solid #4A4947;
    background-color: white;
    border-top: transparent;
    font-size: 13px;
}

label {
    display: flex;
    align-items: center;
} */