html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.title-container {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

.title-container a {
    max-width: 90%;
    margin: auto;
    display: block;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #DDDDDD;
    font-size: 1rem;
}


.header-container {
    width: 100%;
    background-image: url(image/Background\ Image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 725px;
}

.menu-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width:1008px) {
    .menu {
        display: none;
    }

    .menu-container {
        grid-template-columns: auto auto;
    }
}


@media (max-width:470.400px) {
    .profile>:first-child {
        display: none;
    }
}

.menu a {
    color: white;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

.profile {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.profile a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.profile a:last-child {
    background-color: #DDDDDD;
}

.profile a:hover {
    background-color: #b5b5b571;
    border-radius: 50px;
}

.profile button {
    padding: 5px 10px;
    height: auto;
    width: 77px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: white;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    padding: 5px 15px;

}

.filter-content {
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    padding: 10px 0px 10px 10px;
}

.filter-content:hover {
    background-color: #b5b5b571;
    border-radius: 50px;
}

.filter-fill {
    width: 100%;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

.filter-content:nth-child(4)>.filter-fill {
    border-right: 1px solid transparent;
}



.filter-fill:hover {
    border-right: 1px solid transparent;
}

.filter-fill a {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.filter input {
    border: none;
    background-color: transparent;
}

.filter span {
    margin-bottom: 2px;
}

.filter-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    width: 50px;

}

.filter-content1 button {
    background-color: #fa215b;
    padding: 15px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.filter-content1 button:hover {
    background-color: #d61c4e;
}

.span-search {
    display: none;
}


@media (max-width:919.200px) {
    .span-search {
        display: block;
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, 0.356);
    }

    .filter {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .filter-content {
        display: none;
    }

    .filter-content1 {
        justify-content: end;
    }

}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-left: 50px;
    margin-top: 150px;
    /* background-color: rebeccapurple; */
}

.header-text>h1 {
    max-width: 450px;
    font-size: 58px;
    color: white;
    margin-bottom: 15px;
}

@media (max-width:365.600px) {
    .header-text>h1 {
        font-size: 48px;
    }
}

.header-text button {
    width: fit-content;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    border: none;
}

.suggestion-container {
    padding: 0 80px;
    margin: 50px 0 10px 0;
    display: flex;
    justify-content: center;
}

.suggestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}

.suggestion>li {
    min-width: 240px;
}

.suggestion>li>a {

    display: flex;
    align-items: center;
}

.suggestion img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.suggestion a {
    color: black;
    text-decoration: none;
}

.suggestion li {
    width: 25%;
    margin: 10px 0;
}

.suggestion-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.suggestion-text span:first-child {
    font-weight: bold;
}

.accomodations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 80px;
    margin: 10px 0;
}

.accomodations-container>h1 {
    margin-bottom: 0;
    font-size: 32px;
}

.accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    height: auto;
    padding: 0;

}

@media (max-width:524px) {
    .accomodations {
        justify-content: center;
    }

    .accomodations-container>h1 {
        text-align: center;
    }

}

.accomodations a {
    min-width: 182px;
    width: 25%;
    text-decoration: none;
    padding-right: 10px;
}

.accomodations>a>li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}

.accomodations>a>li>img {
    border-radius: 10px;
}

.accomodations>a>li>span {
    color: black;
    font-weight: bold;
    padding: 10px 0;
}


.activities-container {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 80px;
}

.activities-container h1 {
    font-size: 32px;
    margin-bottom: 0;
}

.activities-container span {
    font-size: 14px;
    font-weight: 400;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}

.activities li {
    flex: 1;
    margin-bottom: 10px;
}

.activities>li>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.activities>li>a>img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.activities>li>a>span:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

.host-container {
    width: 100%;
    padding: 0 80px;
    height: auto;
    margin: 50px 0;
}

.host-container h1 {
    font-size: 32px;
    margin: 0;

}

.host {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: auto;
}

.host>li {
    flex: 1;
    padding-right: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.host>li>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;

}

.host>li>a>img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 80px;
    height: auto;
    background-color: #F7F7F7;
    border-top: 1px solid #DDDDDD;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 0;
    /* border-bottom: 1px solid #DDDDDD; */
    gap: 10px;
}

h6 {
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
}

.footer-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.footer-content1 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 2px 0;
    margin: 5px 0;
    text-wrap: nowrap
}

.footer-content1 a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 14px;
}
@media (max-width:901.600px) {
   .contact{
    justify-content: center;
   }
    .contact-text{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .adjust{
        justify-content: center;
    }
}
.contact-text a {
    text-decoration: none;
    color: black;
}

.contact a:not(:last-of-type):after {
    content: "•";
    font-size: 10px;
    margin-left: 2px;
}

.contact-text a:hover {
    text-decoration: underline;
}

.contact-text img {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    cursor: pointer;
}

.adjust {
    display: flex;
    gap: 10px;
    align-items: center;
}